.main-container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

.inside-container {
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}


img {
  border-radius: 4px;
  padding: 5px;
  margin: 10px;
  width: 400px;
}

button {
  margin-top: 20px;
  width: 300px;
}
