<br />
<div style="text-align: center; margin-top: 100px; vertical-align: center;">
    <div>
      <img src="assets/validated.svg" alt="Validated" height="70px" width="70x" /> <br />
      <p>
        You've already completed the KYC process.
      </p>

      <p style="margin-top: 50px; font-size: 14px; font-weight: 300; color: #666666">Contact us on <a
          href="mailto:contact@intergreatme.com">contact@intergreatme.com</a> or WhatsApp us on <a href="tel:+27637499870">+27
          63 749 9870</a>.
      </p>
    </div>
</div>
