.main-container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 30px;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.form-group {
  max-width: 350px;
  padding: 10px;
}

.inputField {
  flex-wrap: wrap;
  flex: auto;
  min-width: 350px;
  margin: 10px;
}
