<div class="main-container">
  <h2>Front of ID Card</h2>
  <div class="inside-container">
    <div class="card shadow rounded;" style="padding: 20px; height: 500px; background: #646464a2; color: black;">
      <h3>You need to upload a front photo of your ID Card</h3>
      <div *ngIf="image == null">
        <img src="../../assets/id.png" alt="Front of ID Card">
      </div>
      <div *ngIf="image != null">
        <img src="{{image}}" alt="Front of ID Card">
      </div>
      <div class="col">
        <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
          <span>Upload</span>
          <input #fileInput hidden type="file" (change)="uploadFile($event)" placeholder="Upload file"
            accept=".pdf,.doc,.docx,.png,.jpeg,.jpg">
        </button>
      </div>
      <div>
        <button mat-raised-button (click)="onContinue()">Continue</button>
      </div>
    </div>
  </div>
</div>
