<div style="text-align: center;">
  <div fxLayout="row" fxLayoutAlign="start start">
    <p style="font-size: large; font-weight: bold;">Proof of Residence</p>
    <button mat-raised-button color="warning" (click)="onBack()">Back</button>
  </div>
  <div class="block-container">

    <!-- PROOF OF RESIDENCE -->
    <div class="row">
      <div class="porCard">
        <div>
          <div class="title" style="width: 400px; height: 35px; margin: auto; padding-top: 5px;">
            <div>Proof of Residence</div>
            <div>
              <mat-progress-spinner *ngIf="uploadingPor && currentPercentagePor <= 100" mode="determinate"
                [diameter]="32" [value]="currentPercentagePor">
              </mat-progress-spinner>
              <div *ngIf="por != null && !uploadingPor">
                <img src="assets/validated.svg" />
              </div>
            </div>
          </div>
          <div *ngIf="por == null">
            <img src="assets/examples/por.png" class="image-custom"
            style="height: 500px; width: 400px;">
          </div>
          <div *ngIf="por != null">
            <img src="{{por}}" alt="por" class="image-custom"
            style="height: 500px; width: 400px;">
          </div>
          <div *ngIf="documentRejected && rejectMessage" class="reject" style="width: 400px; margin: auto;">
            <div style="font-weight: bold;">{{rejectMessage.title}}</div>
            <p>{{rejectMessage.body}}</p>
          </div>
          <div class="col" style="margin-top: 10px;">
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
              <span>Upload</span>
              <input #fileInput hidden type="file" (change)="uploadFile($event)" placeholder="Upload file"
                accept=".pdf,.doc,.docx,.png,.jpeg,.jpg">
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="vertical-align: center;">
    <button mat-raised-button color="primary" (click)="onContinue()">Continue</button>
  </div>
</div>
