.main-container {
  margin-top: 5px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
}

.block-container {
  margin: 5px;
  border-radius: 30px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.porCard {
  margin: 10px;
  padding: 20px;
  border-radius: 30px;
  border-width: 15px;
  background: rgb(255, 255, 255);
  color: black;
  flex: 1;
}
