<div class="main-container">
  <!-- <div class="card shadow bg-white rounded;" style="padding: 20px;"> -->
    <h2>User Profile</h2>
    <div class="inside-container">
      <div class="card shadow rounded;" style="padding: 20px 0px 0px 30px; height: 100px; background: #0f8bff;
      color: white;">
        <a href="#" style="color: black;" routerLink="id-documentation">
          <img src="../../assets/id.png" height="50px" width="70px">
          <h4 for="ID" style="vertical-align: middle;">ID Documentation</h4>
        </a>
      </div>
    </div>
    <div class="inside-container">
      <div class="card shadow rounded;" style="padding: 20px 0px 0px 30px; height: 100px; background: #5c9fe2;
      color: white">
        <a href="#" style="color: black;" routerLink="liveliness">
          <img src="../../assets/avatar.png" height="50px" width="70px">
          <h4 for="Liveliness" style="vertical-align: middle;">Liveliness</h4>
        </a>
      </div>
    </div>
    <div class="inside-container">
      <div class="card shadow rounded;" style="padding: 20px 0px 0px 30px; height: 100px; background: #a5d3ff;
      color: white;">
      <a href="#" style="color: black;" routerLink="proof-of-residence">
        <img src="../../assets/house.png" height="50px" width="70px">
          <h4 for="POR" style="vertical-align: middle;"> Proof of Residence</h4>
        </a>
      </div>
    </div>
    <br />
    <div><button mat-raised-button (click)="getProfile()">Get Profile!</button></div>
    <div><button mat-raised-button color="primary" (click)="doEligibilityCheck()">Check eligibility!</button></div>
  <!-- </div> -->
</div>
