<div style="text-align: center; justify-content: center; padding: 5px;">
  <h2>User Profile</h2>
  <!-- ID Document  -->
  <div class="card-container" style="text-align: center;">
    <div (click)="routeToID()">
      <div class="row">
        <div class="column">
          <ng-container *ngIf="!idDocumentStatus; then statusIncomplete;"></ng-container>
          <ng-template #statusIncomplete>
            <img src="assets/incomplete.png" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.COMPLETE
          || idDocumentStatus === documentStatus.VALID
          || idDocumentStatus === documentStatus.VERIFIED; then statusComplete;"></ng-container>
          <ng-template #statusComplete>
            <img src="assets/validated.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.VALIDATION_FAILED; then statusRejected;">
          </ng-container>
          <ng-template #statusRejected>
            <img src="assets/failed.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.NEW || idDocumentStatus === documentStatus.PENDING_VALIDATION
          || idDocumentStatus === documentStatus.AWAITING_VALIDATION
          || idDocumentStatus === documentStatus.PENDING_VERIFICATION
          || idDocumentStatus === documentStatus.ON_HOLD; then waiting;"></ng-container>
          <ng-template #waiting style="color: red;">
            <img src="assets/progress.png" height="50px" width="50px" />
          </ng-template>
        </div>
        <div class="column">
          <p for="ID">ID Documentation</p>
        </div>
        <div class="column">
          <ng-container *ngIf="!idDocumentStatus; then resultIncomplete;"></ng-container>
          <ng-template #resultIncomplete>
            <p>INCOMPLETE</p>
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.COMPLETE
          || idDocumentStatus === documentStatus.VALID
          || idDocumentStatus === documentStatus.VERIFIED; then resultComplete;"></ng-container>
          <ng-template #resultComplete>
            <p>COMPLETED</p>
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.VALIDATION_FAILED; then resultRejected;">
          </ng-container>
          <ng-template #resultRejected>
            <p>FAILED</p>
          </ng-template>
          <ng-container *ngIf="idDocumentStatus === documentStatus.NEW || idDocumentStatus === documentStatus.PENDING_VALIDATION
          || idDocumentStatus === documentStatus.AWAITING_VALIDATION
          || idDocumentStatus === documentStatus.PENDING_VERIFICATION
          || idDocumentStatus === documentStatus.ON_HOLD; then checking;"></ng-container>
          <ng-template #checking>
            <p>Checking...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- Liveliness  -->
  <div class="card-container">
    <div (click)="routeToLiveliness()">
      <div class="row">
        <div class="column">
          <ng-container *ngIf="!livelinessStatus || livelinessStatus === documentStatus.NONE ; then statusIncomplete;"></ng-container>
          <ng-template #statusIncomplete>
            <img src="assets/incomplete.png" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.PASS; then statusComplete;"></ng-container>
          <ng-template #statusComplete>
            <img src="assets/validated.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.FAIL; then statusRejected;">
          </ng-container>
          <ng-template #statusRejected>
            <img src="assets/failed.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.PENDING_VALIDATION
          || livelinessStatus === documentStatus.AWAITING_VALIDATION
          || livelinessStatus === documentStatus.ON_HOLD; then waiting;"></ng-container>
          <ng-template #waiting style="background-color: red;">
            <img src="assets/progress.png" height="50px" width="50px" />
          </ng-template>
        </div>
        <div class="column">
          <p for="Liveliness">Liveliness</p>
        </div>
        <div class="column">
          <ng-container *ngIf="!livelinessStatus || livelinessStatus === documentStatus.NONE; then statusIncomplete1;"></ng-container>
          <ng-template #statusIncomplete1>
            <p>INCOMPLETE</p>
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.PASS; then resultComplete1;"></ng-container>
          <ng-template #resultComplete1>
            <p>COMPLETED</p>
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.FAIL; then resultRejected1;">
          </ng-container>
          <ng-template #resultRejected1>
            <p>FAILED</p>
          </ng-template>
          <ng-container *ngIf="livelinessStatus === documentStatus.PENDING_VALIDATION
          || livelinessStatus === documentStatus.AWAITING_VALIDATION
          || livelinessStatus === documentStatus.ON_HOLD; then checking1;"></ng-container>
          <ng-template #checking1>
            <p>Checking...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <!-- POR -->
  <div class="card-container">
    <div (click)="routeToPor()">
      <div class="row">
        <div class="column">
          <ng-container *ngIf="!porStatus; then statusIncomplete;"></ng-container>
          <ng-template #statusIncomplete>
            <img src="assets/incomplete.png" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.VALID
          || porStatus === documentStatus.COMPLETE; then statusComplete"></ng-container>
          <ng-template #statusComplete>
            <img src="assets/validated.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.VALIDATION_FAILED; then statusRejected;"></ng-container>
          <ng-template #statusRejected>
            <img src="assets/failed.svg" height="50px" width="50px" />
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.PENDING_VALIDATION
          || porStatus === documentStatus.AWAITING_VALIDATION
          || porStatus === documentStatus.PENDING_VERIFICATION
          || porStatus === documentStatus.ON_HOLD; then waiting;"></ng-container>
          <ng-template #waiting style="background-color: red;">
            <img src="assets/progress.png" height="50px" width="50px" />
          </ng-template>
        </div>
        <div class="column">
          <p for="POR">Proof of Residence</p>
        </div>
        <div class="column">
          <ng-container *ngIf="!porStatus; then statusIncomplete2;"></ng-container>
          <ng-template #statusIncomplete2>
            <p>INCOMPLETE</p>
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.VALID || porStatus === documentStatus.COMPLETE; then resultComplete2;"></ng-container>
          <ng-template #resultComplete2>
            <p>COMPLETED</p>
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.VALIDATION_FAILED; then resultRejected2;"></ng-container>
          <ng-template #resultRejected2>
            <p>FAILED</p>
          </ng-template>
          <ng-container *ngIf="porStatus === documentStatus.PENDING_VALIDATION
          || porStatus === documentStatus.AWAITING_VALIDATION
          || porStatus === documentStatus.PENDING_VERIFICATION
          || porStatus === documentStatus.ON_HOLD; then checking2;"></ng-container>
          <ng-template #checking2>
            <p>Checking...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
