.main-container {
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}

.inside-container {
  margin: 10px;
  border-radius: 10px;
  display: inline;
  cursor: pointer;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
