<div class="main-container">
    <div class="inside-container">
      <div class="card shadow rounded;" style="padding: 20px 0px 0px 40px; height: 100px; background: #5c9fe2; color: white;">
        <a href="#" style="color: black;" routerLink="id-card">
          <h4 for="ID-Book" style="vertical-align: middle;">ID Card</h4>
        </a>
      </div>
    </div>
    <div class="inside-container">
      <div class="card shadow rounded;" style="padding: 20px 0px 0px 40px; height: 100px; background: #5c9fe2; color: white;">
        <a href="#" style="color: black;" routerLink="id-book">
          <h4 for="ID-Book" style="vertical-align: middle;">ID Book</h4>
        </a>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onBack()">Back</button>
    </div>
</div>
