<div style="font-size: 20px; text-align: center;">
  <div fxLayout="row" fxLayoutAlign="start start">
    <p style="font-size: large; font-weight: bold;">Choose an ID type</p>
    <button mat-raised-button color="warning" (click)="onBack()">Back</button>
  </div>
  <div class="card-container">
      <div (click)="routeToIdBook()">
        <div class="row">
          <div class="column">
            <img src="assets/examples/idBook_inside_no_border.jpg" class="image-custom" height="100px" width="150px">
          </div>
          <div class="column">
            <p style="font-weight: 400px; padding: 20px;">ID Book</p>
          </div>
          <div *ngIf="idBookRejected" class="column">
            <img src="assets/failed.svg" height="50px" width="50px" />
          </div>
        </div>
      </div>
  </div>
  <div class="card-container">
      <div (click)="routeToIdCard()">
        <div class="row">
          <div class="column">
            <img src="assets/examples/idCard_front_no_border.jpg" class="image-custom" height="100px" width="150px">
          </div>
          <div class="column">
            <p style="font-weight: 400px; padding: 20px;">ID Card</p>
          </div>
          <div *ngIf="idCardRejected" class="column">
            <img src="assets/failed.svg" height="50px" width="50px" />
          </div>
        </div>
      </div>
    </div>
</div>
