/* You can add global styles to this file, and also import other style files */

html,

body {
  font-family: Poppins, sans-serif;
  margin: 0;
  color: #666666;
  height: 100%;
}

body { margin: 0; font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif; }

.custom-btn {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  color: rgba(229, 231, 235, var(--tw-text-opacity));
  margin: 2, 4, 2, 4;
  width: 66.667%;
  border-radius: 9999px;
}

.rejected-btn {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  color: white;
  margin: 2, 4, 2, 4;
  border-radius: 9999px;
}

.main-container {
  text-align: center;
  margin: 6, 4, 6, 4;
}


.upload-body {
  object-fit: contain;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  height: 18rem;
  width: 18rem;
  --tw-border-opacity: 1;
  border-color: rgba(31, 41, 55, var(--tw-border-opacity));
  border-width: 1px;
  border-bottom-right-radius: 1.5rem/* 24px */;
  border-bottom-left-radius: 1.5rem/* 24px */;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem/* 16px */;
}

.upload-title {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  height: 5rem;
  width: 18rem;
  height: 18rem;
  width: 18rem;
  --tw-border-opacity: 1;
  border-color: rgba(31, 41, 55, var(--tw-border-opacity));
  border-width: 1px;
  border-top-left-radius: 1.5rem/* 24px */;
  border-bottom-left-radius: 1.5rem/* 24px */;
  border-top-right-radius: 1.5rem/* 24px */;
  border-bottom-right-radius: 1.5rem/* 24px */;
  border-top-left-radius: 1.5rem/* 24px */;
  border-top-right-radius: 1.5rem/* 24px */;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem/* 16px */;
}

.title-text {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: left;
  font-weight: 600px;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  padding-top: 0.5rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  font-size: 1rem/* 16px */;
}

.title-body {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: left;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  font-size: 0.875rem;
}

.reject-reason {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  text-align: left;
  --tw-text-opacity: 1;
  color: rgba(75, 85, 99, var(--tw-text-opacity));
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(220, 38, 38, var(--tw-border-opacity));
  border-radius: 1.5rem/* 24px */;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem/* 16px */;
  margin-top: 1rem/* 16px */;
  width: 18rem/* 288px */;
}
