<div class="main-container">
  <h2>ID Card</h2>
  <div class="inside-container">
    <div class="card shadow rounded;" style="padding: 20px 0px 0px 30px; height: 100px; background: #0f8bff;
      color: white;">
      <a href="#" style="color: black;" routerLink="front">
        <h4>Front of ID Card</h4>
      </a>
    </div>
  </div>
  <div class="inside-container">
    <div class="card shadow rounded;" style="padding: 20px 0px 0px 40px; height: 100px; background: #5c9fe2;
      color: white">
      <a href="#" style="color: black;" routerLink="back">
        <h4>Back of ID Card</h4>
      </a>
    </div>
  </div>
  <div class="inside-container">
    <div class="card shadow rounded;" style="padding: 20px 0px 0px 30px; height: 100px; background: #a5d3ff;
      color: white;">
      <a href="#" style="color: black;" routerLink="selfie">
        <h4>Selfie with ID Card</h4>
      </a>
    </div>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="validateFile()">Validate ID Card</button>
  </div>
  <br>
  <div>
    <button mat-raised-button (click)="onContinue()">Continue</button>
  </div>
</div>
