<div class="main-container">
  <h2>Liveliness</h2>
  <div class="block-container">
    <div class="row">
      <div class="livelinessCard">
        <div>
          <div *ngIf="liveliness == null">
            <img src="../../../assets/examples/liveliness.jpg" style="height: 500px; width: 450px;">
          </div>
          <div *ngIf="liveliness != null">
            <img src="{{liveliness}}" alt="liveliness" style="height: 500px; width: 450px;">
          </div>
          <p for="liveliness" style="font-size: 25px;">Liveliness</p>
          <div class="col">
            <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">
              <span>Upload</span>
              <input #fileInput hidden type="file" (change)="uploadFile($event)" placeholder="Upload file"
                accept=".pdf,.doc,.docx,.png,.jpeg,.jpg">
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div style="vertical-align: center;">
    <button mat-raised-button color="primary" (click)="validateFile()">Validate Proof of Residence</button>
  </div>
  <br>
  <div style="vertical-align: center;">
    <button mat-raised-button (click)="onContinue()">Continue</button>
  </div>
</div>
