<div class="main-container">
  <!-- <div class="card shadow bg-white rounded;" style="padding: 20px;"> -->
    <h2>Liveliness</h2>
    <div class="inside-container">
      <div class="card shadow rounded;"
        style="padding: 20px 0px 0px 30px; height: 100px; background: #0f8bff; color: white;">
        <a href="#" style="color: black;" routerLink="">
          <h4>Liveliness</h4>
        </a>
      </div>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="getLiveliness()">Back</button>
    </div>
  <!-- </div> -->
</div>
